@media screen and (max-width: 480px) {
  .aside-1 {
    width: 100% !important;
  }

  .aside-2 {
    width: 100% !important;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  text-align: center;
}

header {
  background-color: #ffee11;
  padding: 20px;
}

nav ul {
  background-color: #00ff99;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 35px 100px;
}

.main p {
  background-color: #8a2be2;
  color: #f7d161;
  margin: 0;
  padding: 60px 10px;
}

.aside {
  float: left;
  padding: 20px 0px;
}

.aside-1 {
  background-color: #ccff00;
  width: 50%;
}

.aside-2 {
  background-color: #ccff99;
  width: 50%;
}

footer {
  background-color: #00ff99;
  padding: 20px;
  clear: both;
}
